# Logs
logs
*.log
pnpm-debug.log*

node_modules/
dist/
build/
tmp/
examples/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

*storybook.log
storybook-static/
