@layer base {
  :root,
  :host {
    /* Neutrals */
    --color-black: #1a1a1a;
    --color-grey-950: #242829;
    --color-grey-900: #3d4142;
    --color-grey-850: #4c5051;
    --color-grey-800: #5b5f60;
    --color-grey-700: #797d7e;
    --color-grey-600: #8d9192;
    --color-grey-500: #b2b2b2;
    --color-grey-400: #b5b9ba;
    --color-grey-300: #d3d7d8;
    --color-grey-200: #dde1e2;
    --color-grey-100: #e7ebeb;
    --color-grey-50: #f1f5f6;
    --color-white: #ffffff;

    /* Feedback */
    --color-fbk-info: #0270a0;
    --color-fbk-info-subtle: #329acb;
    --color-fbk-info-surface-light: #d7f3ff;
    --color-fbk-info-surface-dark: #1a5a6e;

    --color-fbk-warn: #cb9126;
    --color-fbk-warn-subtle: #e9af44;
    --color-fbk-warn-surface-light: #f7e5c4;
    --color-fbk-warn-surface-dark: #5c4422;

    --color-fbk-success: #2c7f2e;
    --color-fbk-success-subtle: #67b167;
    --color-fbk-success-surface-light: #cee2ce;
    --color-fbk-success-surface-dark: #2d5a3d;

    --color-fbk-danger: #cf2c2d;
    --color-fbk-danger-subtle: #f56262;
    --color-fbk-danger-surface-light: #f6d7d7;
    --color-fbk-danger-surface-dark: #5c3333;

    /* Misc */
    --color-purple: #800080;
    --color-purple-subtle: #e46ee4;
    --color-juke: #9747ff;
    --color-blue: #009bf5;
    --color-blue-subtle: #1fa5f5;
  }
}
