@layer base {
  .dark {
    /* Main Colors */
    --color-main: var(--color-white);
    --color-subtle: var(--color-grey-100);
    --color-alt: var(--color-grey-950);
    --color-rev: var(--color-black);

    /* Feedback Colors*/
    /* ... same as in color.css */

    /* Borders */
    --color-bdr-subtle: var(--color-grey-500);
    --color-bdr-soft: var(--color-grey-800);
    --color-bdr-strong: var(--color-white);
    --color-bdr-danger: var(--color-danger-sub);

    /* Buttons */
    --color-btn-primary: var(--color-grey-950);
    --color-btn-primary-hover: var(--color-grey-900);
    --color-btn-secondary: var(--color-grey-900);
    --color-btn-secondary-hover: var(--color-grey-800);
    --color-btn-tertiary: var(--color-grey-600);
    --color-btn-tertiary-hover: var(--color-grey-700);
    --color-btn-active: var(--color-grey-800);

    /* Documentation */
    --color-doc-only: var(--color-juke);
  }
}
