@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@import './base.css';
@import './color.css';

@import './light.css';
@import './dark.css';

@theme {
  /* Main Colors */
  --color-main: var(--color-main);
  --color-subtle: var(--color-subtle);
  --color-alt: var(--color-alt);
  --color-rev: var(--color-rev);

  /* Surface Colors */
  --color-surface-neutral: var(--color-surface-neutral);
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-primary-hover: var(--color-surface-primary-hover);
  --color-surface-primary-selected: var(--color-surface-primary-selected);

  /* Feedback Colors*/
  --color-error: var(--color-error);

  /* Borders */
  --color-bdr-subtle: var(--color-bdr-subtle);
  --color-bdr-soft: var(--color-bdr-soft);
  --color-bdr-strong: var(--color-bdr-strong);
  --color-bdr-danger: var(--color-bdr-danger);

  /* Outline Ring */
  --color-ring: var(--color-ring);

  /* Buttons */
  --color-btn-primary: var(--color-btn-primary);
  --color-btn-primary-hover: var(--color-btn-primary-hover);
  --color-btn-secondary: var(--color-btn-secondary);
  --color-btn-secondary-hover: var(--color-btn-secondary-hover);
  --color-btn-tertiary: var(--color-btn-tertiary);
  --color-btn-tertiary-hover: var(--color-btn-tertiary-hover);
  --color-btn-active: var(--color-btn-active);

  /* Checkboxes */
  --color-box-danger: var(--color-box-danger);

  /* Inputs */
  --color-input-disabled: var(--color-input-disabled);

  /* Tooltips */
  --color-tooltip: var(--color-tooltip);
  --color-tooltip-foreground: var(--color-tooltip-foreground);

  /* Documentation */
  --color-doc-only: var(--color-doc-only);
}
