@layer base {
  :root {
    /* Backgrounds & Surfaces */
    --color-bg-primary: var(--color-grey-50);
    --color-bg-primary-act: var(--color-grey-800);
    --color-bg-secondary: var(--color-black);
    --color-bg-success: var(--color-success-bg);
    --color-bg-info: var(--color-info-bg);
    --color-bg-important: var(--color-warn-bg);
    --color-bg-warning: var(--color-danger-bg);

    /* Borders */
    --color-bdr-subtle: var(--color-grey-500);
    --color-bdr-soft: var(--color-grey-200);
    --color-bdr-strong: var(--color-black);
    --color-bdr-danger: var(--color-danger);

    /* Buttons */
    --color-btn-primary: var(--color-white);
    --color-btn-primary-hov: var(--color-grey-50);
    --color-btn-secondary: var(--color-grey-50);
    --color-btn-secondary-hov: var(--color-grey-100);
    --color-btn-tertiary: var(--color-black);
    --color-btn-tertiary-hov: var(--color-grey-900);
    --color-btn-active: var(--color-grey-800);

    /* Documentation */
    --color-doc-only: var(--color-juke);
  }
}
