@layer base {
  :root,
  :host {
    /* Main Colors */
    --color-main: var(--color-black);
    --color-main-hover: var(--color-grey-800);
    --color-subtle: var(--color-grey-800);
    --color-alt: var(--color-white);
    --color-rev: var(--color-white);
    --color-alt-rev: var(--color-black);
    --color-muted: var(--color-grey-200);
    --color-decorative: var(--color-grey-400);

    --color-info: var(--color-fbk-info);
    --color-info-rev: var(--color-fbk-info-subtle);
    --color-warn: var(--color-fbk-warn);
    --color-warn-rev: var(--color-fbk-warn-subtle);
    --color-success: var(--color-fbk-success);
    --color-success-rev: var(--color-fbk-success-subtle);
    --color-error: var(--color-fbk-danger);
    --color-error-rev: var(--color-fbk-danger-subtle);

    /* Surface Colors */
    --color-surface-neutral: var(--color-white);
    --color-surface-neutral-hover: var(--color-grey-50);
    --color-surface-selected: var(--color-grey-800);
    --color-surface-selected-hover: var(--color-grey-900);
    --color-surface-primary: var(--color-grey-50);
    --color-surface-secondary: var(--color-black);
    --color-surface-tertiary: var(--color-grey-950);
    --color-surface-shimmer: var(--color-white);
    --color-surface-info: var(--color-fbk-info-surface-light);
    --color-surface-warn: var(--color-fbk-warn-surface-light);
    --color-surface-success: var(--color-fbk-success-surface-light);
    --color-surface-error: var(--color-fbk-danger-surface-light);
    --color-surface-muted: var(--color-grey-500);

    /* Borders */
    --color-bdr-subtle: var(--color-grey-500);
    --color-bdr-soft: var(--color-grey-200);
    --color-bdr-strong: var(--color-black);
    --color-bdr-select: var(--color-blue);

    /* Outline Ring */
    --color-ring: var(--color-black);
    --color-ring-alt: var(--color-white);
    --color-ring-offset: var(--color-white);
    --color-ring-offset-alt: var(--color-grey-950);

    /* Buttons */
    --color-btn-primary: var(--color-white);
    --color-btn-primary-hover: var(--color-grey-50);
    --color-btn-secondary: var(--color-grey-50);
    --color-btn-secondary-hover: var(--color-grey-100);
    --color-btn-tertiary: var(--color-black);
    --color-btn-tertiary-hover: var(--color-grey-900);
    --color-btn-active: var(--color-grey-800);
    --color-btn-active-hover: var(--color-grey-900);

    /*Links*/
    --color-link-visited: var(--color-purple);

    /* Tooltips */
    --color-tooltip: var(--color-black);
    --color-tooltip-foreground: var(--color-white);

    /* Avatar */
    --color-avatar-fallback: var(--color-black);

    /* Overlay */
    --color-overlay: oklch(0 0 0 / 0.4);

    /* Documentation */
    --color-docs: var(--color-juke);
  }
}
