@import './colors.css';

@import './light.css';
@import './dark.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* COLORS */
  /* Main Colors */
  --color-main: var(--color-main);
  --color-main-hover: var(--color-main-hover);
  --color-subtle: var(--color-subtle);
  --color-alt: var(--color-alt);
  --color-rev: var(--color-rev);
  --color-alt-rev: var(--color-alt-rev);
  --color-muted: var(--color-muted);

  --color-info: var(--color-info);
  --color-info-rev: var(--color-info-rev);
  --color-warn: var(--color-warn);
  --color-warn-rev: var(--color-warn-rev);
  --color-success: var(--color-success);
  --color-success-rev: var(--color-success-rev);
  --color-error: var(--color-error);
  --color-error-rev: var(--color-error-rev);

  /* Surface Colors */
  --color-surface-neutral: var(--color-surface-neutral);
  --color-surface-neutral-hover: var(--color-surface-neutral-hover);
  --color-surface-selected: var(--color-surface-selected);
  --color-surface-selected-hover: var(--color-surface-selected-hover);
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-tertiary: var(--color-surface-tertiary);
  --color-surface-info: var(--color-surface-info);
  --color-surface-warn: var(--color-surface-warn);
  --color-surface-success: var(--color-surface-success);
  --color-surface-error: var(--color-surface-error);
  --color-surface-muted: var(--color-surface-muted);

  /* Borders */
  --color-bdr-subtle: var(--color-bdr-subtle);
  --color-bdr-soft: var(--color-bdr-soft);
  --color-bdr-strong: var(--color-bdr-strong);

  /* Outline Ring */
  --color-ring: var(--color-ring);
  --color-ring-offset: var(--color-ring-offset);

  /* Buttons */
  --color-btn-primary: var(--color-btn-primary);
  --color-btn-primary-hover: var(--color-btn-primary-hover);
  --color-btn-secondary: var(--color-btn-secondary);
  --color-btn-secondary-hover: var(--color-btn-secondary-hover);
  --color-btn-tertiary: var(--color-btn-tertiary);
  --color-btn-tertiary-hover: var(--color-btn-tertiary-hover);
  --color-btn-active: var(--color-btn-active);
  --color-btn-active-hover: var(--color-btn-active-hover);
  --color-btn-error: var(--color-fbk-danger);
  --color-btn-error-hover: color-mix(in srgb, var(--color-fbk-danger), black 10%);
  --color-btn-error-active: color-mix(in srgb, var(--color-fbk-danger), black 19%);

  /* Inputs */
  --color-input-disabled: var(--color-input-disabled);

  /*Links*/
  --color-link-visited: var(--color-link-visited);

  /* Tooltips */
  --color-tooltip: var(--color-tooltip);
  --color-tooltip-foreground: var(--color-tooltip-foreground);

  /* Overlay */
  --color-overlay: var(--color-overlay);

  /* Documentation */
  --color-docs: var(--color-docs);

  /* SIZINGS */
  --sizing-11\.5: calc(var(--spacing) * 11.5);
}
