@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import './styles/light.css';
@import './styles/dark.css';

@theme {
  --radius: 0.5rem;

  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-muted: var(--color-muted);
  --color-muted-fg: var(--color-muted-fg);

  --color-primary: var(--color-primary);
  --color-primary-fg: var(--color-primary-fg);
  --color-success: var(--color-success);
  --color-success-fg: var(--color-success-fg);
  --color-destructive: var(--color-destructive);
  --color-destructive-fg: var(--color-destructive-fg);
  --color-secondary: var(--color-secondary);
  --color-secondary-fg: var(--color-secondary-fg);

  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);
}
